html, body { margin: 0; padding: 0; font-size: 11px; font-family: Verdana; color: #a93320; background-color: #000; text-align: left; }
a { text-decoration: none; }
img { border: none; }
div, h1, h2, ul, li, p { margin: 0; padding: 0; }

body { margin: 0 0 30px 0; }

div#wrapper { margin: 0 auto; padding: 0; width: 950px; overflow: hidden; }
div#header { width: 950px; height: 198px; background: url("header.jpg") no-repeat top left; overflow: hidden; }
div#header div#header_link { width: 950px; height: 140px; }
div#header div#header_link p{ padding: 13px 0 0 112px; width: 400px; }
div#header div#header_link p a#a1 { width: 119px; height: 15px; display: block; float: left; }
div#header div#header_link p a#a2 { width: 103px; height: 15px; display: block; float: left; }
div#header div#header_link p a#a3 { width: 90px; height: 15px; display: block; float: left; }
div#header div#search { margin: 15px 0 0 20px; width: 230px; height: 50px; text-align: center; float: left; display: inline; }
div#header div#search form { width: 230px; }
div#header div#search form ul { margin: 0; padding: 0; list-style: none; }
div#header div#search form ul li { float: left; }
div#header div#search input { background-color: #FFED8F; color: #a93320; }
div#header div#search input.ssubmit {  background-color: #a93320; color: #FFED8F; font-weight: bold; }
div#header div#kiir { margin: 0 0 0 50px; width: 350px; height: 50px; text-align: center; float: left; display: inline; }
div#header div#kiir p { margin: 8px 0 0 0; font: bold 16px Verdana; }
div#header div#print { margin-left: 150px; height: 45px; line-height: 45px; float: left; display: inline; }
div#header div#print a { font-weight: bold; color: #a93320; padding-left: 30px; height: 45px; width: 75px; display: block; background: url("pdf_25.gif") no-repeat center left; }


/*left*/
div#left { margin: 0 0 -999.5em 0; padding: 0 0 1000em 0; width: 180px; background-color: #f9de91; float: left; display: inline; }
div#left h2 { margin: 10px 15px; padding: 0 0 5px 0; font-size: 16px; border-bottom: 1px solid #a93320; background: url("bg_h2.jpg") repeat-x bottom left; }
div#left ul#menu { margin: 0 0 0 15px; list-style: none; }
div#left ul#menu li { font-size: 12px; margin: 2px 0; }
div#left ul#menu li a { font-weight: bold; color: #a93320; }
div#left ul#menu li a:hover { text-decoration: underline; }
div#left ul#menu li ul { margin: 5px 0 5px 0; list-style: none;}
div#left ul#menu li ul li { font-weight: normal; }
div#left ul#menu li ul li a { font-weight: normal; font-size: 10px; color: #a93320; }
div#left ul#menu li ul li a:hover { text-decoration: underline; }

div.ujak_lista { margin: 0 0 15px 15px; width: 150px; height: 200px; background: url("fuzet.jpg") no-repeat top left; overflow: hidden; }
div.ujak_lista div { margin: 10px 0 0 10px; width: 130px; height: 130px; text-align: center; overflow: hidden; }
div.ujak_lista p { font-weight: bold; font-size: 12px; color: #f7dc8c; margin: 5px 10px 0 10px; text-align: center; }
div.ujak_lista p a { font-weight: bold; font-size: 12px; color: #f7dc8c; }

div.partnerek { width: 120px; margin: 5px auto; overflow: hidden; }

/*content*/
div#content { margin: 0 0 -999.5em 0; padding: 0 0 1000em 0; width: 770px; background-color: #fdefa6; float: left; display: inline; }
div#content h1 { margin: 10px 34px; padding: 0 0 5px 0; font-size: 16px; border-bottom: 1px solid #a93320; background: url("bg_h1.jpg") repeat-x bottom left; }
div#tartalom { margin: 0 34px; padding: 10px; background: url("halo.jpg") repeat-y top left; overflow: auto; }
div#tartalom img { float: left; margin-right: 5px; }
div#tartalom p { margin-bottom: 5px; }

div.lista { margin: 0 0 15px 34px; width: 150px; height: 200px; background: url("fuzet.jpg") no-repeat top left; overflow: hidden; float: left; display: inline; }
div.lista div { margin: 10px 0 0 10px; width: 130px; height: 130px; text-align: center; overflow: hidden; }
div.lista p { font-weight: bold; font-size: 12px; color: #f7dc8c; margin: 5px 10px 0 10px; text-align: center; }
div.lista p a { font-weight: bold; color: #f7dc8c; }


div#belso { margin: 0 34px 0 34px; padding: 10px; background: url("halo.jpg") repeat-y top left; float: left; display: inline;  }
div#belso ul { list-style: none; margin: 0 0 10px 0;  }
div#belso img {  border: 3px solid #a93320; margin: 0 0 10px 10px; float: right; }
p.hozza { margin: 0 0 10px 0; font-size: 14px; font-weight: bold; }
p.uzi { padding-left: 34px; }

div#content form { margin: 0 34px 0 34px; width: 500px; }
div#content form p { text-align: center; margin: 10px 0; font-weight: bold; }
div#content dl { margin: 0; padding: 0; }
div#content dt { margin: 0; padding:2px 4px; width: 150px; float: left; text-align: right; clear: both; }
div#content dd { margin: 0; padding:2px 0; }
div#content dd input { width: 300px; }
div#content dd textarea { width: 300px; height: 200px }
div#content form p input { background-color: #a93320; color: #fff; font-weight: bold; border: 1px solid #a93320;}

div#lapozo { margin: 10px 0; width:600px; float: left; display: inline; text-align: center; }
div#lapozo a { font-weight: bold; color: #a93320; }
div#lapozo a.aktualis { font-weight: bold; color: #000; }

/* footer */
div#footer { margin: 0; padding: 0; width: 950px; height: 51px; background: url("footer.jpg") no-repeat top left; float:left; display: inline; }
div#footer p { margin: 30px 0 0 20px; width: 780px; font-weight: bold; float: left; display: inline; }
div#footer a { margin-top: 15px; width: 140px; height: 30px; display: block; float: left; display: inline; font-size: 0px; color: #F6BB15; }

